doctype html
html
  head
    title SpiritRO Ragnarok Private Server
    link(rel="stylesheet", href="app.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    section#Main-container
      include ./header/index.pug
      div.container
        section.Landing.row.l12.center-align
          h1.Landing-title SpiritRO
          h5.Landing-text A modern Ragnarok Private Server with Fantastic Custom Items
          a(href="http://", class='btn waves-effect waves-light' class='Landing-button') Get Started
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    script(type="application/javascript", src="app.js")
