@import "node_modules/materialize-css/sass/materialize.scss";

@mixin text-shadow {
  -webkit-text-shadow: 0 2px 7px black;
  -moz-text-shadow: 0 2px 7px black;
  -o-text-shadow: 0 2px 7px black;
  -ms-text-shadow: 0 2px 7px black;
  text-shadow: 0 2px 7px black;
}

body {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}

.Header-menu {
  background: black;
  opacity: .7;
}
#Main-container {
  height: 100vh;
  background: url('img/fondo.jpg') center 5%;
  background-size: cover;
}

.Landing {
  margin-top: 11em;
}

.Landing-button {
  margin-top: 1.5em
}

.Landing-text {
  @include text-shadow();
}

.Landing-title {
  font-weight: bold;
  @include text-shadow();
}
