nav.Header-menu.nav-wrapper
  a(href="/").Header-title.brand-logo SpiritRO
  a.button-collapse(data-activates='mobile-demo')
    i.material-icons menu
  ul.right.hide-on-med-and-down
    li
      a(href='/') Home
  ul#mobile-demo.side-nav
    li
      a(href='/') Home
